In [9]:
import requests                 # requests on websites
from bs4 import BeautifulSoup   # html parsing

import pandas as pd             # pandas for data frame
import numpy as np              # numpy for numerical operations

import math                     # for math methods
import time                     # for sleep timer
import random                   # for random number generator

import sql_functions as sf      # for sql functions
from sql_functions import *     # functions from file for upload on schema


import sqlalchemy               # for sql connection
import psycopg2                 # for upload on engine

import datetime as dt           # for the csv file with the current date and time
from datetime import date       # for the csv file with the current date and time
import re                       # for regular expressions

import matplotlib as mpl        # for plotting
import matplotlib.pyplot as plt # for plotting
import seaborn as sns           # for plotting

In [10]:
london_boroughs = pd.read_csv("geodata/london_boroughs.csv", delimiter=',')

In [11]:
london_boroughs

          neighbourhood        lat      long  Area Code             Area Name
0                Camden  51.539089 -0.144174  E09000001        City of London
1        City of London  51.513337 -0.090440  E09000002  Barking and Dagenham
2   City of Westminster  51.497994 -0.137879  E09000003                Barnet
3               Hackney  51.544121 -0.053816  E09000004                Bexley
4           Hammersmith  51.491337 -0.220246  E09000005                 Brent
..                  ...        ...       ...        ...                   ...
65                  NaN        NaN       NaN  E09000033           Westminster
66                  NaN        NaN       NaN  E12000007         London region
67                  NaN        NaN       NaN  E12000007         London region
68                  NaN        NaN       NaN  E92000001               England
69                  NaN        NaN       NaN  E92000001               England

[70 rows x 5 columns]

In [12]:
# call the schema created for this project
schema = 'capstone_jmrs'
# get the function to connect to the database
engine = get_engine()

# give the table a unique name
table_name = "london_boroughs"

# import the table to sql
if engine != None:
    try:
        london_boroughs.to_sql(name=table_name,
                                   con=engine,
                                   if_exists='replace',
                                   schema=schema,
                                   index=False,
                                   chunksize=5000,
                                   method='multi')
        print(f"The {table_name} table was imported successfully.")

    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The london_boroughs table was imported successfully.